<table border="1" cellspacing="0" style="font-size: 15px; width: 100%;">
    <tr>
      <td>
        <table style="width: 100%; font-size: 15px;" cellspacing="0">
          <tr>
            <td align="left" style="width: 33%">No: <%= @tmpBill['buyer_order_no'] %></td>
            <% if @tmpBill["estimation_bill"] %>
              <td align="center" style="width: 33%"><b>Estimation Bill</b></td>
            <% else %>
              <td align="center" style="width: 33%">Original Buyer's Copy<br><b>Tax Invoice</b></td>
            <% end %>
            <td align="right">
              GST No:<font color="blue">19AGKPM7671F1ZX</font><br>
              Old VAT No: 19625253013<br>
              H.S.N: 7114
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td align="center">
        <h3><font size="6"><font color="#f66669">S.B. Jewellers</font></font></h3>
        <p><font size="4">45,Chandi Charan Ghosh Road, Barisha, Silpara, Kolkata 700008</font></p>
        <p><font size="4">Phone - (+91) 8013386169, (+91) 9433954734</font></p>
      </td>
    </tr>
    <tr>
      <td>
        <table style="width: 100%; font-size: 15px;">
          <tr>
            <td>Name</td>
            <td><%= @tmpBill['buyer_name'] %></td>
          </tr>
          <tr>
            <td>Address</td>
            <td><%= @tmpBill['buyer_address'] %></td>
          </tr>
          <tr>
            <td>Phone Number</td>
            <td><%= @tmpBill['buyer_contact'] %></td>
          </tr>
          <tr>
            <td>Order Number</td>
            <td><%= @tmpBill['buyer_order_no'] %></td>
          </tr>
          <tr>
            <td>Date</td>
            <td><%= Time.now.strftime("%d-%m-%Y") %></td>
          </tr>
          <tr>
            <td>Payment Mode</td>
            <td><%= @tmpBill['buyer_payment_mode'] %></td>
          </tr>
          <tr>
            <td>Additional Info</td>
            <td><%= @tmpBill['buyer_additional_info'] %></td>
          </tr>
          <% if @tmpBill['deposited_gold'].to_f != 0 %>
          <tr>
            <td>Deposited Gold (24 Carat)</td>
            <td><%= @tmpBill['deposited_gold'] %> gm</td>
          </tr>
          <% end %>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        <table border="1" cellspacing="0" style="width: 100%; font-size: 15px;">
          <thead>
            <tr>
              <th>Qty</th>
              <th>Description</th>
              <th>Purity</th>
              <th>Gross Weight</th>
              <th>Net Weight</th>
              <th>Rate</th>
              <th>Addtionals</th>
              <th>Addtional Price</th>
              <th>Making Charge</th>
              <th>Total</th>
            </tr>
          </thead>
          <% totalAmount = 0 %>
          <tbody>
          <% @tmpBill['items'].each do |itm| %>
            <tr>
              <td><%= itm['qty'] %></td>
              <td><%= itm['name'] %></td>
              <td><%= itm['purity'] %></td>
              <td><%= itm['gwgt'] %></td>
              <td><%= itm['nwgt'] %></td>
              <td><%= itm['rate'] %></td>
              <td><%= itm['adname'] %></td>
              <td><%= itm['adprice'] %></td>
              <td><%= itm['mkchrg'] %> (Weight considered: <%= itm['mkchrgwgt'] %> gm)</td>
              <td><%= itm['total'] %></td>
            </tr>
          <% totalAmount += itm['total'].to_f %>
          <% end %>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        <table style="width: 100%; font-size: 15px;" cellspacing="0">
          <tr>

            <% totalAmountAfterDiscount = totalAmount - @tmpBill['flat_discount'].to_f %>
            <% sgst = totalAmountAfterDiscount * ( @sgstRate / 100 ) %>
            <% sgst = sgst.round(2) %>
            <% cgst = totalAmountAfterDiscount * ( @cgstRate / 100 ) %>
            <% cgst = cgst.round(2) %>
            <% finalAmountNRO = (totalAmountAfterDiscount + cgst + sgst).round(2) %>
            <% finalAmountRO = finalAmountNRO.round %>
            
            <td style="width: 50%" valign="top">
              Payable Amount in Words: <br><em><%= finalAmountRO.humanize.capitalize %> rupees only</em>
            </td>
            <td>
              <table style="width: 100%; font-size: 15px;" cellspacing="0">
                <tr>
                  <td align="left">Total</td>
                  <td align="right"><%= totalAmount %></td>
                </tr>
                <% if @tmpBill['flat_discount'].to_f != 0 %>
                <tr>
                  <td align="left">Flat Discount</td>
                  <td align="right"><%=  -@tmpBill['flat_discount'].to_f %></td>
                </tr>
                <tr>
                  <td align="left">Amount after Discount</td>
                  <td align="right"><%= totalAmountAfterDiscount %></td>
                </tr>
                <% end %>
                <tr>
                  <td align="left">S.GST (<%= @tmpBill['sgst'] %>%)</td>
                  <td align="right"><%= sgst %></td>
                </tr>
                <tr>
                  <td align="left">C.GST (<%= @tmpBill['cgst'] %>%)</td>
                  <td align="right"><%= cgst %></td>
                </tr>
                <tr>
                  <td align="left">I.GST (3%) (Total Tax)</td>
                  <td align="right"><%= sgst + cgst %></td>
                </tr>
                <tr>
                  <td align="left">Grand Total <br/>(After 3% GST)</td>
                  <td align="right"><%= finalAmountNRO %></td>
                  
                </tr>
                
                <tr>
                  <td align="left">Round off</td>
                  <% rndAmt = "0." + finalAmountNRO.to_s.split(".").last %>
                  <% rndAmt = rndAmt.to_f %>
                  <% if rndAmt > 0.50 %>
                    <td align="right"><%= "+ " + (1.00 - rndAmt).to_s %></td>
                  <% else %>
                    <td align="right"><%= "- " + rndAmt.to_s %></td>
                  <% end %>
                </tr>
                <tr>
                  <td align="left"><strong>Payable Amount</strong></td>
                  <td align="right"><%= finalAmountRO %></td>
                </tr>

              </table>              
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        <ul>
          <li>All weights are in gm</li>
          <li>Purities are in carat</li>
          <% if @tmpBill['rebate_gold'].to_f != 0 %>
            <li><b><%= @tmpBill['rebate_gold'] %>% discount was applied on all gold making charges</b></li>
          <% end %>
          <% if @tmpBill['rebate_silver'].to_f != 0 %>
            <li><b><%= @tmpBill['rebate_silver'] %>% discount was applied on all silver making charges</b></li>
          <% end %>
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        <table style="width: 100%; font-size: 15px;" cellspacing="0">
          <tr>
            <td style="width: 33%">
              <br/><br><br><br>
              Signature of Purchaser
            </td>
            <td align="center">
              <br><br><br><br>
              Thank You, Visit Again
            </td>
            <td align="right">
              <br><br><br><br>
              S.B Jewellers
            </td>
          </tr>

        </table>
      </td>
    </tr>
  </table>